* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
header {
    height: 75px;
}
main {
    display:flex;
}

.col-4 {
    flex-basis:calc((100% / 12) * 4);
    background-color: rgb(237, 121, 12);
    border: 1px solid #fff;
    height: 75px;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex: column;
    justify-content: space-between;
}
.sidebar {
    background-color: aqua;
    height: calc(100vh - 75px);
    width: 75px;
}

#main-content {
    background-color: bisque;
    height: calc(100vh - 75px);
    width: calc(100vw - 75px);
}

@media screen and (min-width: 578px) {
    .sidebar {
        width: 200px;
    }
    #main-content {
        width: calc(100vw - 200px);
    }
}